DEBUG=


DATABASE_URL=

ALEMBIC_URL=
SECRET_KEY=
ALGORITHM=HS256
EXPIRES_IN=15
REFRESH_LIFESPAN=1

TMDB_API_KEY=
BASE_URL=https://api.themoviedb.org/3/


GEMINI_MODEL=
GEMINI_API_KEY=
# DATABASE_URL=sqlite+aiosqlite:///./database.db